name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Repositorio
        uses: actions/checkout@v4.1.2
      - name: Login e autenticacao no Docker
        uses: docker/login-action@v3.1.0
        with:
          username: ${{github.secret.DOCKER_USER}}
          password: ${{github.secret.DOCKER_PWD}}
      - name: Construcao imagem Docker
        with:
          context: ./src
          file: ./src/DockerFile
          push: true
          tags:  
            bmfmata/devops4devs-GithubActions:latest
            bmfmata/devops4devs-GithubActions:${{ github.run.number }}   

  
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - name: Conectar com o Kubernetes
        run: echo "Configuracao do Kubeconfig"
      - name: Executar o Deploy
        run: echo "kubectl apply"
