name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Construcao imagem Docker
        run: echo "Docker Build"
      - name: Publicar a imagem no Docker Hub
        run: echo "Docker push"
  
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - name: Conectar com o Kubernetes
        run: echo "Configuracao do Kubeconfig"
      - name: Executar o Deploy
        run: echo "kubectl apply"
